@import '../../partials/mixins';
@import '../../partials/color';
@import '../../partials/fonts';

.product {
    @include mobile-margin;
    margin-bottom: 20px;
    
    @include tablet {
        @include tablet-margin;
    }

    @include desktop {
        @include desktop-margin;
    }

    &__header-container {
        margin-bottom: 30px;

        @include tablet {
            display: flex;
            border-bottom: 1px solid $border;
        }
    }

    &__title-arrow-container {
        display: flex;
    }

    &__arrow-container {
        display: flex;
        align-items: center;
    }

    &__name {
        margin-left: 10px;
        @include h1Header;
        font-family: "Avenir-Bold";
        color: $para-txt;
    }

    &__badge-container {
        @include tablet {
            height: 103px;
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__stock-badge {
        background-color: yellowgreen;
        width: 100px;
        border-radius: 4px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__stock-info{
        font-family: "Avenir-Demi";
        font-weight: 500;
        color: white;
    }

    &__info-body-container {
        @include tablet {
            border-bottom: 1px solid $border;
            padding-bottom: 35px;
            margin-bottom: 55px;
        }
        @include desktop {
            display: flex;
            justify-content: space-between;
        }
    }

    &__info-title {
        color: $info-title;
        font-family: "Avenir-Demi";
    }

    &__info-content {
        color: $para-txt;
        font-family: "Avenir-Regular";
    }

    &__order-info-container {
        @include desktop {
            width: 50vw;
        }
    }

    &__horizontal-container {
        @include tablet {
            display: grid;
            grid-template-columns: 40vw 40vw;
        }

        @include desktop {
            grid-template-columns: 20vw 20vw;
        }
    }

    &__btn-container {
        @include tablet {
            display: flex;
            justify-content: flex-end;
        }
    }
}

button{ 
    width: 100%;
    height: 50px;
    background-color: $button;
    border: 1px solid;
    border-radius: 4px;
    color: white;
    font-family: "Avenir-Demi";

    @include tablet {
        width: 170px;
        font-size: 15px;
    }
}