$h1Header-mobile: 24px;
$h1Line-mobile: 32px;
$h2Header-mobile: 14px;
$h2Line-mobile: 22px;
$paragraph-mobile: 13px;
$paragraphLine-mobile: 18px;
$listContact-mobile: 13px;
$listContactLine-mobile: 18px;
$labels-mobile: 12px;
$labelsLine-mobile: 20px;
$h1HeroHeader: 60px;
$h1HeroLine: 68px;
$h1Header: 36px;
$h1HeaderLine: 44px;
$h2Header: 24px;
$h2HeaderLine: 32px;
$h3Subheader: 16px;
$h3SubheaderLine: 24px;
$paragraph: 14px;
$paragraphLine: 22px;
$listContact: 14px;
$listContactLine: 20px;
$labels: 12px;
$labelsLine: 20px;